@page "/"

<PageTitle>Kreddit</PageTitle>

<div class="mt-4 mb-4 pe-3">
    <h1 class="mb-3">Welcome to Kreddit</h1>

    <p class="mb-4">Below you can read the 50 most recent posts.</p>

    <PostList></PostList>

    <h3 class="mt-5 mb-3">Brags about this app:</h3>
<ul>
    <li>Data reloads automatically.</li>
    <li>Dates are implemented.</li>
    <li>All voting works.</li>
    <li>Creation of both posts and comments possible.</li>
    <li>Dropdown user selection for post and comments.</li>
</ul>
</div>
