@page "/"

<PageTitle>Kreddit</PageTitle>

<div class="mt-4 mb-4 pe-3">
    <h1 class="mb-3">Welcome to Kreddit</h1>

    <p class="mb-4">Below you can read the most recent posts.</p>

    <PostList></PostList>

    <h3 class="mt-5 mb-3">Notes about this app:</h3>
<ul>
    <li>You need to reload browser to reload data.</li>
    <li>Dates are not implemented.</li>
    <li>Only upvote on posts work. No other voting works yet.</li>
    <li>Cannot create new posts, only new comments.</li>
        <li>No user selection. User is hardcoded (Mads).</li>
    </ul>
</div>
